@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=vietnamese");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  font-size: 14px;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

.masonry {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em; }

.clearfix:after {
  content: "";
  clear: both;
  display: block; }

.clear {
  clear: both; }

.menu-mobile {
  position: fixed;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(-102deg, #f6c529, #383994);
  z-index: 9999;
  padding: 0px 20px;
  font-family: 'Nunito', sans-serif;
  visibility: hidden;
  transform: translate(-500px);
  overflow: hidden;
  transition: all .5s;
  opacity: 0; }
  .menu-mobile .times {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px; }
  .menu-mobile p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px; }
  .menu-mobile ul li {
    padding: 10px 0px; }
    .menu-mobile ul li a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 15px; }
      .menu-mobile ul li a:hover {
        color: #fbc926; }
    .menu-mobile ul li .active {
      color: #fbc926; }

.active-mb {
  visibility: visible;
  transform: translate(0px);
  transition: all .5s;
  opacity: 1; }

.active-mb2 {
  transform: 500px;
  visibility: hidden;
  transition: all .5s;
  opacity: 0; }

.full-search {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(2, 2, 2, 0.8);
  left: 0;
  top: 0;
  z-index: 999999999;
  display: none; }
  .full-search .input-search {
    width: 70%;
    margin: 20% auto;
    border-bottom: 1px solid #ffff; }
    .full-search .input-search input {
      width: 100%;
      outline: none;
      background: none;
      width: calc(100% - 110px);
      font-size: 15px;
      font-weight: 400;
      text-transform: capitalize;
      border-top: 0px;
      border-left: 0;
      border-right: 0;
      padding: 20px 20px;
      border: 0; }
    .full-search .input-search input:focus {
      color: #fff; }
    .full-search .input-search input::placeholder {
      color: #fff; }
    .full-search .input-search button {
      width: 100px;
      color: #fff;
      font-size: 20px;
      background: none;
      outline: none;
      cursor: pointer;
      border-top: 0px;
      border-left: 0;
      border-right: 0;
      padding: 20.6px 20px;
      border: 0; }
  .full-search .times-search {
    position: absolute;
    top: 50px;
    right: 50px; }
    .full-search .times-search a {
      color: #fff;
      font-size: 30px; }

.scroll-top {
  display: none; }

.active-scroll {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999999999999; }
  .active-scroll a {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 15px;
    color: #fff;
    background: #383994;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border-radius: 3px; }

.header-top {
  height: 80px;
  transition: all 1s;
  border-bottom: 2px solid #383994; }
  .header-top .logo-header {
    padding-top: 22px;
    position: relative;
    transition: all 1s; }
    .header-top .logo-header .icon-mobile {
      position: absolute;
      top: 60%;
      left: 0;
      transform: translate(0%, -40%);
      display: none; }
      .header-top .logo-header .icon-mobile a {
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        background-color: #383994;
        border-radius: 5px; }
    .header-top .logo-header .search-mobile {
      position: absolute;
      top: 60%;
      right: 0;
      transform: translate(0%, -40%);
      display: none; }
      .header-top .logo-header .search-mobile a {
        display: block;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        color: #fff;
        background-color: #383994;
        border-radius: 5px; }
  .header-top .menu-header {
    text-align: right; }
    .header-top .menu-header ul li {
      display: inline-block;
      position: relative; }
      .header-top .menu-header ul li:hover .hover-search-input {
        opacity: 1;
        visibility: visible;
        transition: all .5s; }
      .header-top .menu-header ul li a {
        transition: all 1s;
        font-size: 14px;
        color: #222;
        font-family: 'Nunito', sans-serif;
        text-decoration: none;
        line-height: 80px;
        text-transform: uppercase;
        font-weight: 700;
        padding-left: 20px; }
        .header-top .menu-header ul li a:hover {
          color: #383994; }
      .header-top .menu-header ul li .hover-search-input {
        position: absolute;
        top: 100%;
        right: 0;
        width: 300px;
        background-color: #383994;
        padding: 20px;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transition: all .5s; }
        .header-top .menu-header ul li .hover-search-input form {
          width: 100%;
          background-color: #fff; }
          .header-top .menu-header ul li .hover-search-input form input {
            width: calc(100% - 35px);
            height: 35px;
            background: none;
            border: 0;
            outline: none;
            padding-left: 10px; }
          .header-top .menu-header ul li .hover-search-input form button {
            width: 30px;
            height: 35px;
            background: none;
            outline: none;
            border: none;
            cursor: pointer; }
      .header-top .menu-header ul li .active {
        color: #383994; }

.header-active {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  transition: all 1s; }
  .header-active .logo-header {
    padding-top: 10px;
    transition: all 1s; }
  .header-active .menu-header ul li a {
    line-height: 50px;
    transition: all 1s; }

.header-mid {
  position: relative; }
  .header-mid .carousel-indicators {
    bottom: 25px; }
    .header-mid .carousel-indicators li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #383994;
      cursor: pointer; }
    .header-mid .carousel-indicators .active {
      background-color: #ff1700; }
  .header-mid img {
    width: 100%; }
  .header-mid .hover-banner {
    position: absolute;
    top: 50%;
    left: 11.5%;
    background-color: rgba(2, 2, 2, 0.5);
    transform: translate(0%, -50%);
    padding: 30px 20px;
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    z-index: 99; }
    .header-mid .hover-banner h1 {
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff; }
    .header-mid .hover-banner p {
      margin: 0;
      padding: 5px 0px 10px 0px;
      font-size: 14px;
      font-style: italic;
      color: #fff; }
    .header-mid .hover-banner .form-inout-header textarea {
      width: 100%;
      height: 75px;
      padding: 10px;
      font-size: 13px;
      outline: none;
      border: 0;
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 5px; }
    .header-mid .hover-banner .form-inout-header select {
      width: 100%;
      height: 35px;
      font-size: 13px;
      outline: none;
      border: 0;
      background-color: #fff;
      border-radius: 5px;
      padding-left: 5px;
      margin-bottom: 7px;
      cursor: pointer;
      color: #555; }
    .header-mid .hover-banner .form-inout-header .select-button {
      display: flex; }
      .header-mid .hover-banner .form-inout-header .select-button select {
        width: 50%;
        height: 35px;
        font-size: 13px;
        outline: none;
        border: 0;
        background-color: #fff;
        border-radius: 5px;
        padding-left: 5px;
        margin: 0px 2px; }
      .header-mid .hover-banner .form-inout-header .select-button button {
        width: 50%;
        height: 35px;
        font-size: 13px;
        outline: none;
        border: 0;
        background-color: #383994;
        border-radius: 5px;
        padding-left: 5px;
        margin: 0px 2px;
        cursor: pointer;
        text-transform: uppercase;
        color: #fff; }

.title-main {
  text-align: center;
  margin-bottom: 20px; }
  .title-main h2 {
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    color: #383994; }
  .title-main p {
    margin: 0;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 20px; }

.main-top-slide {
  margin-top: 50px; }
  .main-top-slide .carousel-indicators {
    bottom: -15px; }
    .main-top-slide .carousel-indicators li {
      margin: 0px 5px;
      width: 15px;
      height: 15px;
      transform: rotate(-45deg);
      background-color: #383994;
      cursor: pointer; }
    .main-top-slide .carousel-indicators .active {
      border: 2px solid #383994;
      background-color: #fff; }

.box1-tab-content {
  display: flex;
  padding: 20px;
  border: 1px solid #ccc;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 30px; }
  .box1-tab-content .img-left-tabcontent:hover .img-top-top {
    opacity: 0.8;
    transition: all .3s; }
  .box1-tab-content .img-left-tabcontent .img-top-top {
    width: 250px;
    height: 165px;
    transition: all .3s; }
  .box1-tab-content .img-left-tabcontent p {
    margin: 0;
    font-size: 13px; }
  .box1-tab-content .img-left-tabcontent h3 {
    margin: 0; }
    .box1-tab-content .img-left-tabcontent h3 a {
      display: block;
      padding: 10px 0px;
      font-size: 16px;
      font-weight: 800;
      text-transform: uppercase;
      color: #383994;
      text-decoration: none; }
  .box1-tab-content .img-left-tabcontent ul {
    padding-bottom: 5px; }
    .box1-tab-content .img-left-tabcontent ul li {
      display: inline-block;
      padding-right: 10px; }
      .box1-tab-content .img-left-tabcontent ul li a {
        text-decoration: none; }
  .box1-tab-content .text-address-tabcontent {
    padding-left: 20px; }
    .box1-tab-content .text-address-tabcontent .top-text-one {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc; }
      .box1-tab-content .text-address-tabcontent .top-text-one p {
        margin-bottom: 0;
        padding-bottom: 5px; }
      .box1-tab-content .text-address-tabcontent .top-text-one span {
        display: block;
        line-height: 20px; }
    .box1-tab-content .text-address-tabcontent .center-buttonbutton {
      text-align: center; }
      .box1-tab-content .text-address-tabcontent .center-buttonbutton .button-xt {
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        width: 130px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background-color: #383994;
        color: #fff;
        border-radius: 5px;
        margin: 20px auto 0 auto; }
  .box1-tab-content .list-bottom-box1-tab {
    text-align: center; }
    .box1-tab-content .list-bottom-box1-tab ul li {
      padding: 0px 10px;
      display: inline-block; }
      .box1-tab-content .list-bottom-box1-tab ul li a {
        font-size: 15px;
        font-weight: bold;
        color: #383994;
        font-family: 'Nunito', sans-serif;
        text-transform: uppercase;
        text-decoration: none; }
        .box1-tab-content .list-bottom-box1-tab ul li a span {
          color: #ff1700; }

.main-mid-number {
  margin-top: 60px;
  font-family: 'Nunito', sans-serif; }
  .main-mid-number .number-text-mid {
    border: 1px solid #383994;
    text-align: center;
    padding: 30px 0px 35px 0px;
    background-color: #fafafa;
    position: relative;
    min-height: 200px;
    transition: all .5s; }
    .main-mid-number .number-text-mid:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      border-left: 3px solid #383994;
      border-top: 3px solid #383994;
      transition: all .5s;
      visibility: hidden;
      width: 0%;
      height: 0%;
      opacity: 0; }
    .main-mid-number .number-text-mid:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      border-right: 3px solid #383994;
      border-bottom: 3px solid #383994;
      transition: all .5s;
      visibility: hidden;
      width: 0%;
      height: 0%;
      opacity: 0; }
    .main-mid-number .number-text-mid:hover {
      transition: all .5s;
      border: 0; }
      .main-mid-number .number-text-mid:hover .plus-abs {
        top: -7.5px;
        right: -5px; }
      .main-mid-number .number-text-mid:hover p {
        transition: all 1s;
        -webkit-animation: mymove 1s infinite;
        animation: mymove 1s infinite; }
      .main-mid-number .number-text-mid:hover:before, .main-mid-number .number-text-mid:hover:after {
        visibility: visible;
        opacity: 1;
        transition: all .5s;
        width: 100%;
        height: 100%; }
    .main-mid-number .number-text-mid .plus-abs {
      position: absolute;
      top: -8.5px;
      right: -7px;
      font-size: 15px;
      color: #383994; }
    .main-mid-number .number-text-mid p {
      transition: all 1s;
      font-size: 50px;
      color: #383994;
      font-weight: 900;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 15px; }
    .main-mid-number .number-text-mid span {
      padding: 5px 0px;
      display: block;
      font-size: 20px;
      font-weight: 800;
      color: #222;
      text-transform: uppercase; }
    .main-mid-number .number-text-mid span:last-child {
      padding-bottom: 15px;
      position: relative; }
      .main-mid-number .number-text-mid span:last-child:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 40px;
        height: 3px;
        background-color: #383994; }
@keyframes mymove {
  0% {
    transform: rotate(5deg);
    transform: scale(1.3); }
  50% {
    transform: rotate(-5deg);
    transform: scale(1); }
  100% {
    transform: rotate(5deg);
    transform: scale(1.3); } }
.main-bottom-tab {
  margin-top: 50px; }
  .main-bottom-tab .list-search {
    text-align: center;
    margin-bottom: 30px; }
    .main-bottom-tab .list-search ul li {
      display: inline-block;
      padding: 0px 5px; }
      .main-bottom-tab .list-search ul li a {
        display: block;
        width: 200px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        font-size: 15px;
        color: #222;
        border: 1px solid #383994;
        border-radius: 5px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s;
        position: relative; }
        .main-bottom-tab .list-search ul li a:before {
          content: "";
          position: absolute;
          bottom: -6px;
          left: 50%;
          width: 10px;
          height: 10px;
          transform: rotate(-45deg);
          background-color: #383994;
          visibility: hidden;
          opacity: 0; }
        .main-bottom-tab .list-search ul li a:hover {
          background-color: #383994;
          color: #fff; }
          .main-bottom-tab .list-search ul li a:hover:before {
            visibility: visible;
            opacity: 1; }
      .main-bottom-tab .list-search ul li .active {
        color: #fff;
        background-color: #383994;
        position: relative; }
        .main-bottom-tab .list-search ul li .active:after {
          content: "";
          position: absolute;
          bottom: -6px;
          left: 50%;
          width: 10px;
          height: 10px;
          transform: rotate(-45deg);
          background-color: #383994; }
  .main-bottom-tab .content-tab-list-search {
    display: none; }
    .main-bottom-tab .content-tab-list-search .list-content-tab-boxone {
      text-align: left; }
      .main-bottom-tab .content-tab-list-search .list-content-tab-boxone ul li {
        padding: 5px 0px;
        cursor: pointer;
        display: flex; }
        .main-bottom-tab .content-tab-list-search .list-content-tab-boxone ul li:hover span {
          color: #fff !important;
          background-color: #383994; }
        .main-bottom-tab .content-tab-list-search .list-content-tab-boxone ul li span {
          background-color: #e3e3e3;
          display: block;
          height: 35px;
          line-height: 35px;
          text-align: left;
          text-transform: uppercase; }
        .main-bottom-tab .content-tab-list-search .list-content-tab-boxone ul li span:nth-child(1) {
          width: 15%;
          text-align: center;
          color: #383994; }
        .main-bottom-tab .content-tab-list-search .list-content-tab-boxone ul li span:nth-child(2) {
          width: 84%;
          margin-left: 1%;
          padding-left: 20px; }
      .main-bottom-tab .content-tab-list-search .list-content-tab-boxone ul .active span {
        color: #fff !important;
        background-color: #383994; }
  .main-bottom-tab .active-tab {
    display: block; }

.footer-top {
  background-color: #222222;
  margin-top: 50px;
  padding: 30px 0px 30px 0px;
  position: relative; }
  .footer-top:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #333333;
    z-index: 1; }
  .footer-top .footer-top-left {
    text-align: center; }
    .footer-top .footer-top-left .list-addres-footer {
      padding: 20px 0px; }
      .footer-top .footer-top-left .list-addres-footer ul li {
        color: #fff;
        text-transform: capitalize;
        padding: 5px 0px; }
        .footer-top .footer-top-left .list-addres-footer ul li span {
          color: #999; }
    .footer-top .footer-top-left .list-mxh {
      padding: 20px 0px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      text-align: center; }
      .footer-top .footer-top-left .list-mxh ul li {
        display: inline-block;
        padding: 0px 20px; }
        .footer-top .footer-top-left .list-mxh ul li a {
          font-size: 14px;
          text-transform: uppercase;
          color: #ccc;
          text-decoration: none; }
          .footer-top .footer-top-left .list-mxh ul li a:hover {
            color: #fff; }
        .footer-top .footer-top-left .list-mxh ul li .active {
          color: #fff; }
  .footer-top .title-footer {
    font-family: 'Nunito', sans-serif;
    margin-bottom: 20px;
    position: relative;
    z-index: 5;
    padding-bottom: 20px; }
    .footer-top .title-footer:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 3px;
      background-color: #999; }
    .footer-top .title-footer span {
      display: block;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      color: #fbc926; }
  .footer-top .list-footer-mid {
    position: relative;
    z-index: 5; }
    .footer-top .list-footer-mid .list-footer-mid-content ul li {
      padding: 10px 0px;
      border-bottom: 1px dashed #ccc; }
      .footer-top .list-footer-mid .list-footer-mid-content ul li a {
        font-size: 13px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none; }
    .footer-top .list-footer-mid .list-footer-mid-content ul li:last-child {
      border: 0; }
    .footer-top .list-footer-mid .facebook iframe {
      width: 100%;
      height: auto; }

.footer-bottom {
  height: 40px;
  background-color: #222222;
  line-height: 40px; }
  .footer-bottom a {
    color: #ccc;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px; }
  .footer-bottom ul li {
    display: inline-block;
    color: #ccc;
    font-size: 13px;
    padding: 0px 5px; }
    .footer-bottom ul li span {
      color: #fff; }

.title-link-tc {
  height: 40px;
  background-color: #383994; }
  .title-link-tc ul li {
    display: inline-block; }
    .title-link-tc ul li a {
      line-height: 40px;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase; }

.main-what-top {
  margin-top: 50px; }
  .main-what-top .title-main-what h1 {
    margin-bottom: 20px;
    font-size: 25px;
    color: #383994;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif; }
  .main-what-top form .form-group label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #555; }
  .main-what-top form .form-group textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    padding: 10px;
    font-size: 14px; }
  .main-what-top form .select-group {
    margin-top: 25px; }
    .main-what-top form .select-group .lable-select label {
      display: block;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: #555; }
    .main-what-top form .select-group .lable-select select {
      width: 100%;
      height: 40px;
      padding-left: 10px;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer; }
  .main-what-top form button {
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #383994;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #383994;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    position: relative; }
    .main-what-top form button:hover span {
      position: relative;
      z-index: 5;
      color: #fff; }
    .main-what-top form button:hover:before {
      width: 100%;
      left: 0;
      transition: all .3s; }
    .main-what-top form button:before {
      transition: all .3s;
      width: 0%;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-color: #383994;
      z-index: 3; }

.images-top-right {
  border: 1px solid #ccc;
  position: relative;
  padding: 0px 10px;
  margin-bottom: 20px; }
  .images-top-right img {
    width: 100%;
    height: 135px;
    margin-top: -10px; }
  .images-top-right .text-top-right {
    position: absolute;
    top: 25px;
    right: 5px; }
    .images-top-right .text-top-right span {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ff2722; }
  .images-top-right .images-hotline-ab {
    display: flex;
    padding: 15px 0px;
    border-bottom: 1px solid #ccc; }
    .images-top-right .images-hotline-ab .images-left-ab img {
      width: 45px;
      height: 45px; }
    .images-top-right .images-hotline-ab .text-hotline-ab {
      padding-left: 15px; }
      .images-top-right .images-hotline-ab .text-hotline-ab span {
        display: block; }
      .images-top-right .images-hotline-ab .text-hotline-ab .span1-ht-ab {
        color: #666666;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px; }
      .images-top-right .images-hotline-ab .text-hotline-ab .span2-ht-ab {
        font-size: 20px;
        font-weight: 700;
        color: #ff0000;
        padding-top: 10px; }
  .images-top-right .list-images-text-right {
    padding: 15px 0px;
    text-align: center; }
    .images-top-right .list-images-text-right .center-text-img {
      margin: 10px 0px; }
      .images-top-right .list-images-text-right .center-text-img p {
        font-size: 14px;
        color: #333;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 5px; }
      .images-top-right .list-images-text-right .center-text-img .images-center {
        text-align: center; }
        .images-top-right .list-images-text-right .center-text-img .images-center a {
          display: inline-block; }
          .images-top-right .list-images-text-right .center-text-img .images-center a img {
            width: 80px;
            height: 30px; }

.category-main-top {
  margin-top: 50px; }
  .category-main-top .site_bar-left h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #383994;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc; }
  .category-main-top .form-group {
    margin-bottom: 20px; }
    .category-main-top .form-group select {
      margin: 5px 0px;
      width: 100%;
      height: 35px;
      padding-left: 10px;
      border: 1px solid #ccc;
      font-size: 13px;
      text-transform: capitalize;
      outline: none;
      cursor: pointer;
      color: #555555; }
  .category-main-top .form-input-bottom {
    margin-bottom: 20px; }
    .category-main-top .form-input-bottom p {
      padding-bottom: 10px;
      font-weight: 800;
      font-family: 'Nunito', sans-serif;
      margin-bottom: 10px;
      border-bottom: 1px solid #ccc;
      text-transform: uppercase; }
    .category-main-top .form-input-bottom .input-checkbox {
      margin: 10px 0px;
      cursor: pointer;
      display: block; }
      .category-main-top .form-input-bottom .input-checkbox span {
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 10px; }
  .category-main-top .title-siter-bar-cateogry h1 {
    margin-bottom: 20px;
    font-size: 25px;
    color: #383994;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif; }
  .category-main-top .select-siter-bar-cateogry {
    text-align: right;
    margin-bottom: 30px; }
    .category-main-top .select-siter-bar-cateogry select {
      margin: 5px 0px;
      width: 300px;
      height: 35px;
      padding-left: 10px;
      border: 1px solid #ccc;
      font-size: 13px;
      text-transform: capitalize;
      outline: none;
      cursor: pointer;
      color: #555555;
      border-radius: 5px; }
    .category-main-top .select-siter-bar-cateogry label {
      font-size: 14px;
      font-weight: bold;
      color: #222; }

.list-number-catergory {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center; }
  .list-number-catergory ul li {
    display: inline-block; }
    .list-number-catergory ul li a {
      display: block;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 23px;
      color: #383994;
      border: 2px solid #383994;
      font-weight: bold;
      text-decoration: none; }
    .list-number-catergory ul li .active {
      background-color: #383994;
      color: #fff; }

.details-img-tt .img-text-cd-top {
  display: flex; }
  .details-img-tt .img-text-cd-top .img-left-cd img {
    width: 250px;
    height: 165px; }
  .details-img-tt .img-text-cd-top .text-tt-ls-cd {
    padding-left: 20px; }
    .details-img-tt .img-text-cd-top .text-tt-ls-cd h1 {
      font-size: 25px;
      font-weight: 800;
      text-transform: capitalize;
      color: #383994;
      font-family: 'Nunito', sans-serif;
      padding-bottom: 10px; }
    .details-img-tt .img-text-cd-top .text-tt-ls-cd img {
      margin-bottom: 10px; }
    .details-img-tt .img-text-cd-top .text-tt-ls-cd p {
      padding-bottom: 10px;
      margin-bottom: 0; }
    .details-img-tt .img-text-cd-top .text-tt-ls-cd ul li {
      display: inline-block;
      color: #383994;
      font-size: 17px;
      font-weight: 700;
      padding-right: 20px; }
      .details-img-tt .img-text-cd-top .text-tt-ls-cd ul li span {
        color: #ff1700; }
.details-img-tt .list-next-tab-details {
  margin: 30px 0px; }
  .details-img-tt .list-next-tab-details ul li {
    display: inline-block; }
    .details-img-tt .list-next-tab-details ul li a {
      display: block;
      width: 200px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 3px;
      text-decoration: none;
      text-transform: uppercase;
      color: #555;
      position: relative; }
      .details-img-tt .list-next-tab-details ul li a:before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        width: 10px;
        height: 10px;
        transform: rotate(-45deg);
        background-color: #383994;
        visibility: hidden;
        opacity: 0; }
      .details-img-tt .list-next-tab-details ul li a:hover {
        background-color: #383994;
        color: #fff; }
        .details-img-tt .list-next-tab-details ul li a:hover:before {
          visibility: visible;
          opacity: 1; }
    .details-img-tt .list-next-tab-details ul li .active {
      color: #fff;
      background-color: #383994;
      position: relative; }
      .details-img-tt .list-next-tab-details ul li .active:after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        width: 10px;
        height: 10px;
        transform: rotate(-45deg);
        background-color: #383994; }
.details-img-tt .content-tab-details-text {
  margin-top: 20px;
  display: none; }
  .details-img-tt .content-tab-details-text .text-content-tab-one p {
    font-size: 15px;
    line-height: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600; }
  .details-img-tt .content-tab-details-text .list-details-text ul li {
    padding-bottom: 30px;
    display: flex; }
    .details-img-tt .content-tab-details-text .list-details-text ul li .number-left-text span {
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border: 1px solid #383994;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      background-color: #383994;
      border-radius: 3px; }
    .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details {
      padding-left: 20px; }
      .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .what-ch-top p {
        color: #383994;
        font-size: 15px;
        font-weight: 800;
        line-height: 20px;
        font-family: 'Nunito', sans-serif; }
        .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .what-ch-top p b {
          color: #555; }
      .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .cmt-reply {
        border: 1px solid #383994;
        padding: 20px;
        text-align: right; }
        .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .cmt-reply p {
          font-size: 14px;
          font-weight: 700;
          font-family: 'Nunito', sans-serif;
          line-height: 20px;
          text-align: left;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          transition: all .3s; }
        .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .cmt-reply .active-p {
          -webkit-line-clamp: 50;
          transition: all .3s; }
        .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .cmt-reply a {
          text-decoration: none;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 30px; }
        .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .cmt-reply .thugon {
          display: none; }
        .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .cmt-reply .active-t {
          display: block; }
        .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .cmt-reply .xemthem {
          display: block; }
        .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .cmt-reply .active-x {
          display: none; }
      .details-img-tt .content-tab-details-text .list-details-text ul li .text-right-details .active-cmt {
        background-color: #ebebfc; }
  .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .img-p-number-5 {
    display: flex; }
    .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .img-p-number-5 img {
      width: 80px;
      height: 15px; }
    .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .img-p-number-5 p {
      margin: 0;
      font-size: 17px;
      font-weight: 800;
      color: #393994;
      padding-right: 10px; }
  .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .list-star-dgg {
    padding-top: 20px; }
    .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .list-star-dgg ul li {
      display: flex;
      padding: 5px 0px; }
      .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .list-star-dgg ul li .star5 {
        font-size: 15px;
        font-weight: bold;
        width: 25%;
        height: 20px;
        line-height: 20px; }
        .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .list-star-dgg ul li .star5 span {
          color: #383994; }
      .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .list-star-dgg ul li .star5-2 {
        text-align: center; }
      .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .list-star-dgg ul li .border-mid {
        width: 75%;
        height: 20px;
        border-radius: 10px;
        background-color: #cccccc; }
    .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .list-star-dgg ul li:nth-child(1) .border-mid, .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .list-star-dgg ul li:nth-child(2) .border-mid {
      position: relative; }
      .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .list-star-dgg ul li:nth-child(1) .border-mid:before, .details-img-tt .content-tab-details-text .form-nx-contentab .list-star-nx .list-star-dgg ul li:nth-child(2) .border-mid:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: #383994;
        border-radius: 10px; }
  .details-img-tt .content-tab-details-text .form-nx-contentab .text-form-input-details p {
    margin: 0;
    font-size: 17px;
    font-weight: 800;
    color: #393994;
    margin-bottom: 20px; }
  .details-img-tt .content-tab-details-text .form-nx-contentab .text-form-input-details .form-col-boostrap form input {
    width: 49%;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #fff;
    outline: none;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 5px; }
  .details-img-tt .content-tab-details-text .form-nx-contentab .text-form-input-details .form-col-boostrap form textarea {
    margin: 10px 0px;
    width: 99%;
    height: auto;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px; }
  .details-img-tt .content-tab-details-text .form-nx-contentab .text-form-input-details .form-col-boostrap form button {
    width: 150px;
    height: 35px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #383994;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px; }
  .details-img-tt .content-tab-details-text .text-bottom-content-last {
    margin-top: 50px;
    padding-left: 20px;
    border-left: 2px dashed #383994; }
    .details-img-tt .content-tab-details-text .text-bottom-content-last ul li {
      padding-bottom: 30px; }
      .details-img-tt .content-tab-details-text .text-bottom-content-last ul li .img-top-hvt {
        padding-bottom: 1em;
        position: relative; }
        .details-img-tt .content-tab-details-text .text-bottom-content-last ul li .img-top-hvt:before {
          content: '';
          position: absolute;
          top: 0;
          left: -29px;
          width: 15px;
          height: 15px;
          transform: rotate(-45deg);
          background-color: #383994; }
        .details-img-tt .content-tab-details-text .text-bottom-content-last ul li .img-top-hvt a {
          text-decoration: none;
          padding: 0px 5px; }
        .details-img-tt .content-tab-details-text .text-bottom-content-last ul li .img-top-hvt span {
          font-size: 12px;
          color: #999; }
      .details-img-tt .content-tab-details-text .text-bottom-content-last ul li h3 {
        font-size: 16px;
        margin-bottom: 1em;
        text-transform: uppercase;
        font-weight: bold;
        color: #383994; }
      .details-img-tt .content-tab-details-text .text-bottom-content-last ul li p {
        line-height: 20px;
        font-size: 15px;
        margin: 0; }
.details-img-tt .active-c {
  display: block; }

.form-contact {
  padding: 30px 0px;
  background-color: #ecf0f1; }
  .form-contact h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 900;
    background: #fff;
    background: -moz-linear-gradient(top, #ecf0f1 0, #ecf0f1 0, #d7d9d9 0, #ecf0f1 86%, #ecf0f1 100%);
    background: -webkit-linear-gradient(top, #ecf0f1 0, #ecf0f1 0, #d7d9d9 0, #ecf0f1 86%, #ecf0f1 100%);
    background: linear-gradient(to bottom, #ecf0f1 0, #ecf0f1 0, #d7d9d9 0, #ecf0f1 86%, #ecf0f1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@white', endColorstr='@white', GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 20px;
    clear: both; }
  .form-contact .text-left-contact h1 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-top: -30px;
    padding-bottom: 1rem; }
  .form-contact .text-left-contact p {
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 1rem; }
  .form-contact .text-left-contact .list-text-addres {
    padding-bottom: 1rem; }
    .form-contact .text-left-contact .list-text-addres ul li {
      font-family: 'Montserrat', sans-serif;
      padding: 5px 0px;
      font-size: 15px; }
      .form-contact .text-left-contact .list-text-addres ul li a {
        color: #222;
        padding-left: 5px;
        text-decoration: none; }
        .form-contact .text-left-contact .list-text-addres ul li a:hover {
          color: #ff5912; }
      .form-contact .text-left-contact .list-text-addres ul li span {
        padding-left: 5px; }
  .form-contact .text-left-contact .list-mxh-contact {
    margin-bottom: 1rem; }
    .form-contact .text-left-contact .list-mxh-contact ul li {
      display: inline-block; }
      .form-contact .text-left-contact .list-mxh-contact ul li a {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 10px;
        line-height: 50px;
        text-align: center;
        background-color: #fff;
        font-size: 16px;
        position: relative;
        transition: all 0.35s;
        transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
        overflow: hidden; }
        .form-contact .text-left-contact .list-mxh-contact ul li a:hover .icon-fab {
          color: #fff !important;
          position: relative;
          z-index: 10;
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59); }
        .form-contact .text-left-contact .list-mxh-contact ul li a:hover:before {
          top: -10%;
          left: -10%; }
        .form-contact .text-left-contact .list-mxh-contact ul li a:before {
          transition: all 0.35s;
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          background-color: #3b5998;
          content: "";
          position: absolute;
          top: 90%;
          left: -110%;
          content: '';
          width: 120%;
          height: 120%;
          position: absolute;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          z-index: 4; }
    .form-contact .text-left-contact .list-mxh-contact ul li:nth-child(1) a {
      color: #4e71a7; }
      .form-contact .text-left-contact .list-mxh-contact ul li:nth-child(1) a:before {
        background-color: #4e71a7; }
    .form-contact .text-left-contact .list-mxh-contact ul li:nth-child(2) a {
      color: #1bb7e8; }
      .form-contact .text-left-contact .list-mxh-contact ul li:nth-child(2) a:before {
        background-color: #1bb7e8; }
    .form-contact .text-left-contact .list-mxh-contact ul li:nth-child(3) a {
      color: #e14723; }
      .form-contact .text-left-contact .list-mxh-contact ul li:nth-child(3) a:before {
        background-color: #e14723; }
    .form-contact .text-left-contact .list-mxh-contact ul li:nth-child(4) a {
      color: #e14723; }
      .form-contact .text-left-contact .list-mxh-contact ul li:nth-child(4) a:before {
        background-color: #e14723; }
    .form-contact .text-left-contact .list-mxh-contact ul li:nth-child(5) a {
      color: #cb3737; }
      .form-contact .text-left-contact .list-mxh-contact ul li:nth-child(5) a:before {
        background-color: #cb3737; }
  .form-contact .text-left-contact .gg-content-map iframe {
    width: 100%;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 2px; }
  .form-contact .form-input-right-contact h2 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-top: -30px;
    padding-bottom: 1rem; }
  .form-contact .form-input-right-contact p {
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 1rem; }
  .form-contact .form-input-right-contact form .form-group {
    position: relative; }
    .form-contact .form-input-right-contact form .form-group input {
      width: 100%;
      height: 40px;
      position: relative;
      border-radius: 20px;
      font-size: 14px;
      padding-left: 50px;
      border: 1px solid #a6b0bd;
      background: rgba(255, 255, 255, 0.4);
      outline: none;
      font-family: 'Montserrat', sans-serif; }
      .form-contact .form-input-right-contact form .form-group input:hover {
        border: 1px solid  #222; }
    .form-contact .form-input-right-contact form .form-group label {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translate(0%, -50%);
      color: #545e6b;
      display: block;
      width: 4%;
      border-right: 1px solid #545e6b;
      font-family: 'Montserrat', sans-serif; }
    .form-contact .form-input-right-contact form .form-group .border-right-la {
      width: 8%; }
    .form-contact .form-input-right-contact form .form-group textarea {
      width: 100%;
      position: relative;
      border-radius: 20px;
      font-size: 14px;
      padding-left: 50px;
      padding-top: 12px;
      border: 1px solid #a6b0bd;
      background: rgba(255, 255, 255, 0.4);
      font-family: 'Montserrat', sans-serif;
      outline: none; }
      .form-contact .form-input-right-contact form .form-group textarea:hover {
        border: 1px solid  #222; }
    .form-contact .form-input-right-contact form .form-group .texttarea-lb {
      top: 20px; }
  .form-contact .form-input-right-contact form button {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: #ffffff;
    height: 50px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    background: #4725b2;
    border: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    cursor: pointer;
    outline: none; }

@media screen and (max-width: 1199px) {
  .form-contact .form-input-right-contact form .form-group .border-right-la {
    width: 10%; }

  .form-contact .form-input-right-contact form .form-group label {
    width: 4.5%; } }
@media screen and (max-width: 991px) {
  .form-contact h3 {
    font-size: 45px; }

  .form-contact .form-input-right-contact h2 {
    font-size: 25px; }

  .form-contact .text-left-contact .list-text-addres ul li span {
    line-height: 20px; }

  .form-contact .text-left-contact .gg-content-map iframe {
    height: auto; }

  .form-contact .form-input-right-contact form .form-group .border-right-la, .form-contact .form-input-right-contact form .form-group label {
    width: 6%; }

  .form-contact .form-input-right-contact form button {
    height: 40px;
    font-size: 13px; } }
@media screen and (max-width: 767px) {
  .form-input-right-contact {
    margin-top: 20px; } }

/*# sourceMappingURL=style.css.map */
